# Auto detect text files and perform LF normalization
* text=auto
Waccamaw data is publically available for research studies. Use at your own risk. We used this data to develop BMA code and the paper is published at AGU JAMES Journal. 
